body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ececec;
}

#container {
  width: 300px;
  height: 150px;
  border: 2px solid #333;
  margin: 80px auto 0;
  padding: 10px;

  overflow: auto ;
}

p {
  font-size: 20px;
  background-color: #ddd;
}